* {
    text-align: center;
}

html,
body {
    height: 100%;
}

nav {
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 2em;
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-size: 8em;
}

#hero {
    background: url(../img/surrealism-wallpapers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oswald', sans-serif !important;
    color: white;
}   
.text p {text-align: left;
}


/*Table*/

@media (min width: 769px) and (max-width: 992px)